*{
    margin: 0%;        
}

.Header{
    width: 100%;
    display:flex;
    justify-content:space-between;
    background-color: #16796F;
}

.Logo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:x-large;
    padding:10px;
    color:black;
}

.Computation{
    overflow-y: hidden;
    width: 100%;
    height:92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #16796F;

}

.Fields{
    width:20%;
    display: flex;
    padding:20px;
    flex-direction: column;
    justify-content: center;
    background: #1c4845bb;
    border: 1px solid black;
    backdrop-filter: blur(3.1px);
    border-radius: 8px;
    margin:auto;    
    /* padding-left:10%; */
}

.Fields:hover{
    border: 2px solid rgb(11, 22, 29);
}


.Btn
{
    width:40%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    align-items: center;
    margin: auto;
    cursor: pointer;
    background: rgba(143, 190, 183, 0.648);
    transition: 0.5s;
}

.PortalBtn{
 width:100px;
 height: 40px;
 margin:10px;
}

.Btn:hover{
    background-color: rgba(219, 229, 228, 0.648);
    color: black;
    border: 2px solid rgb(17, 17, 17);
    transform: scale(1.03);
}


.Internal{
    background-color: rgba(196, 202, 204, 0.984);
    width:auto;
    height: 30px;
    padding:10px;
    border: 2px solid black;
    display: none;
    border-radius: 8px;
    margin-top: 20px;
}

.Inputs{
    width: auto;
    height:30px;
    background-color:  rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 6px;
    margin-bottom: 20px;
    outline:none;
    text-align: center;
    transition: 0.5s;
}

.Inputs:hover{
    background-color: #cccfd3;;
    color: rgb(8, 8, 8);
    border: 2px solid rgb(0, 9, 17);
    transform: scale(1.05);
}

.Hr{
    display: none;
}
@media screen and (max-width:600px){
    
    .Header{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .Logo{
        margin: auto;
        padding: 15px;
    }

    .Btn{
        width: 150px;
        font-size: large;
        color: black;
        margin: 10px auto; 
    }

    .PortalBtn{

        display: flex;
        align-content: center;
        justify-content: center;
    }

    .Computation{
        width: 100%;
        height:80vh;        
        display: flex;
        justify-content: center;
        align-content: center;

    }

    .Fields{
        width:70%;
        height: 60vh;
        margin:auto;
    }

    .Inputs{
        width: 95%;
        height:49px;
        font-size: large;
    }

    .Hr{
       width: 100%;
       display: flex;
       flex-direction: column;
       background-color: #16796F;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    
    hr{
        width: 150px;
        background-color: white;
        border: 1.5px solid white;
        margin: 0px 0px 10px 0px;
        border-radius: 20px;
    }

    .Internal{
        width: auto;
    }
    
}
